body{
    background-color: black;
    color: white;
}
h3{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}
form{
    text-align: center;
}
ul{
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li{
    list-style: none;
    margin: 5px;
    text-align: center;
}
.queue > div{
    margin: 5px;
}
.main{
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 10px;
    padding: 10px;
}
#mainContainer{
    border: 2px solid gray;
    color: white;
}
.menu{
    position: relative;
    border: 2px solid white;
    min-height: 400px;
}
.orderButton{
    position: absolute;
    text-align: center;
    bottom : 0;
    right: 0;
    margin: 5px;
}
.queue, .collected{
    display: flex;
    border: 2px solid white;
    flex-direction: row;
    min-height: 400px;
}
.title{
    text-align:center;
    padding: 10px;
}

.menuItem{
    color:black;
    padding: 10px;
    background: rgb(192, 245, 94);
}
.order{
    cursor: pointer;
}
.beverage{
    color:black;
    padding: 10px;
    background: rgb(245, 134, 43);
    margin: 0;
    pointer-events: none;
}
.customer{
    color: black;
    background: white;
    pointer-events: none;
    padding: 2px;
}
.button{
    display: block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
}

@media screen and (max-width : 767px){
 .main, .queue,.collected{
     display: block;
 }
}
